:root {
    --primary-color: #800020;
    --primary-color-light: #691A50;
    --skill-color: #000;
    --skill-bg: #fff;
    --main-color: #000;
    --main-bg: #fff;
    --its-me-color: #fff;
    --its-me-bg: #fff;
    --max-width: 1044px;
    --padding: 2rem;
    --container-padding: 1rem;
    --border-radius: 0.63rem;
    --point-placement: -2rem;
    --summary-line-width: 1px;
    --border: 1px solid #777;
    --skill-gap: 1rem;
}

ul, p {
    margin: 0;
    padding-bottom: 1rem;
}
#resume {
    position: relative;
    width: var(--max-width);
    min-width: var(--max-width);
    max-width: var(--max-width);
    margin: auto;
}
hr {
    margin: 1rem 0 0 0;
    padding: 0 0 1rem 0;
    border-color: var(--skill-color);
}
.its-me {
    position: absolute;
    left: var(--container-padding);
    top: var(--container-padding);
    width: calc(100% - calc(var(--container-padding) * 2));
    height: auto;
    z-index: 1;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    background: var(--its-me-bg);
}
.its-me a {
    color: var(--its-me-color);
    text-decoration: none;
}
.me-content {
    background: linear-gradient(
        90deg,
        var(--primary-color) 0%,
        var(--primary-color-light) 100%
    );
    color: white;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    position: relative;
    border-radius: var(--border-radius);
}
.me-content p {
    line-height: 1rem;
}
.profile {
    position: absolute;
    right: var(--padding);
    top: var(--padding);
    height: calc(100% - calc(var(--padding) * 2));
    aspect-ratio: 1;
    border: 0.5rem solid var(--skill-bg);
    border-radius: 50%;
    background: url('./Profile.jpg');
    background-size: contain;
}

.skills-section {
    color: var(--skill-color);
    background: var(--skill-bg);
}

.summary-wrap {
    position: relative;
}

.summary-wrap::before{
    content: '';
    position: absolute;
    left: var(--point-placement);
    width: var(--summary-line-width);
    background: var(--primary-color);
    z-index: 0;
    top: 0;
    bottom: 0;
}

.summary-wrap:not(:last-child) {
    border-bottom: var(--border);
}

.summary-wrap:not(:first-child) {
    padding-top: 1.5rem;
}

.summary-item {
    width: max-content;
    color: var(--its-me-color);
    background-color: var(--primary-color);
    padding: 0.2rem 0.75rem;
    text-transform: uppercase;
    border-radius: var(--border-radius);
    position: relative;
}

.summary-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(calc(-50% + var(--point-placement)), -50%);
    width: 0.7rem;
    height: 0.7rem;
    background: var(--primary-color);
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px var(--primary-color);
    z-index: 2;
}

.skill-wrap {
    padding-bottom: var(--skill-gap);
    border-bottom: var(--border);
}
.skill-wrap:not(:first-child) {
    margin-top: 1rem;
}


.skills-section .image-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
}
.skills-section .image-wrap img {
    width: 35px;
}

.skills-section a {
    color: var(--skill-color);
}

.main-section {
    background: var(--main-bg);
    color: var(--main-color);
}
.main-section, .skills-section {
    padding-top: 18rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* .print-show {
    display: none;
} */

/* @media print { */
    .print-none {
        display: none !important;
    }
    .print-show {
        display: block;
    }
/* } */